@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: black;
    color: white;
}

.header{
    border-bottom: 1px solid;
}

.genLa{
    max-width: 1200px;
    margin: auto;
}

.toggle{
    display: none;
}

.navItems{
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.navItems span{
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: .7;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
}

.navList>ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    text-transform: capitalize;
    font-family: "Inter", serif;
    font-size: .9rem;
}

.navList ul li a{
    color: white;
}

.home{
    display: flex;
    align-items: center;
    padding-block: 3rem;
    justify-content: center;
    gap: 9rem;
    margin-bottom: 1rem;
}

.homeText{
    width: 59%;
}

.homeText h1{
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    margin-bottom: 1rem;
}

.homeText p{
    text-transform: capitalize;
    opacity: .8;
    font-size: .8rem;
    font-family: "Manrope", serif;
    margin-bottom: 1rem;
}

.links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.based a{
    display: block;
    padding-inline: .8rem;
    padding-block: .5rem;
    font-size: .8rem;
    background-color: #D3E97A;
    height: 2rem;
    width: 8rem;
    border-radius: 25px;
    text-transform: uppercase;
    color: black;
    font-family: "Manrope", serif;
    font-weight: 900;
}

.based a i{
    font-size: .6rem;
    margin-left: .3rem;
}



.socail ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socail ul li{
    font-size: 1.6rem;
    background-color: #222222;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    text-align: center;
    padding-top: .7rem;
}

.socail ul li a{
    color: #D3E97A;
}

.homeImage{
    width: 50%;
}

.homeImage img{
    width: 100%;
    border-radius: 20px;
}

@media(max-width:767px) {

    .header{
        display: none;
    }

    .navItems{
        width: calc(100% - 30px);
    }

    .toggle{
        display: block;
    }
    .toggle i{
        font-size: 1.4rem;
    }

    .navList{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        right: 0%;
        width: 40%;
        padding-block: 2rem;
        background-color: white;
        opacity: .97;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 4rem;
        transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .navList>ul{
        flex-direction: column;
    }

    .navList ul li a{
        color: black;
    }

    .home{
        flex-direction: column;  
        gap: 2rem;
        width: calc(100% - 30px);
        margin-left: 1rem;
    }

    .homeText{
        width: 100%;
    }

    .homeImage{
        width: 100%;
    }
}

#work{
    border-bottom: 1px solid;
}

.projects{
    margin-block: 3rem;
    font-family: "Manrope", serif;
}

.feature{
    width: 27rem;
}

.feature h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: 3rem;
}

.feature p{
    font-size: .8rem;
    font-family: "Manrope", serif;
}

.work{
    display: flex;
    margin-block: 3rem;
    align-items: center;
    margin-bottom: 5rem;
}

.workImg{
    width: 50%;
    height: 29rem;
    background-color: #222222;
    border-radius: 10px;
    padding-inline: 3rem;
}

.workImg img{
    width: 100%;
    height: 15rem;
    margin-top: 8rem;
    border-radius: 10px;
    border: 2px solid black;
}

.workText{
    width: 50%;
    
}

.workText h1{
    padding-bottom: 1rem;
    font-weight: 600;
}

.workText>p{
    width: 34rem;
    font-weight: 300;
}

.one{
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    text-transform: capitalize;
}

.one h2, .one h3{
    font-weight: 500;
}

.link{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    color: #D3E97A;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .3rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid;
}

.link a i{
    font-size: 1.3rem;
}

@media(max-width:767px) {

    .projects{
        width: calc(100% - 30px);
    }

    .feature p{
        width: 20rem;
    }

    .work{
        flex-direction: column;
    }

    .workImg{
        display: none;
        width: 100%;
        padding-inline: 1.5rem;
    }

    .workText{
        width: 100%;
    }

    .workText>p{
        width: auto;
    }
}


.about{
    display: flex;
    align-items: start;
    margin-block: 4rem;
    margin-bottom: 15rem;
}

.about>h1{
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    width: 40%;
    font-size: 5rem;
    /* margin-top: -1rem; */
    /* border: 1px solid; */
}

.story{
    font-family: "Manrope", serif;
    width: 50%;
    /* border: 1px solid; */
    padding-top: 1rem;
}

.story h2{
    font-weight: 400;
}

.story p{
    margin-block: 2rem;
}

.story a{
    color: #D3E97A;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    padding-bottom: .1rem;
    border-bottom: 2px solid;
}

.aboutImg{
    display: none;
    height: 100%;
}

.aboutImg{
    margin-top: 2rem;
    height: 100%;
}

.aboutImg>img{
    width: 100%;
}

@media (max-width:767px) {

    .about{
        flex-direction: column;
        width: calc(100% - 30px);
    }    

    .about>h1{
        display: none;
    }

    .story{
        margin-block: -5rem;
        width: 100%;
    }

    .story>h2{
        display: none;
    }
    .aboutImg{
        display: block;
    }

    .aboutImg img{
        height: 50vh;
    }
}

.contact{
    display: flex;
    font-family: "Manrope", serif;
    margin-block: 3rem;
    align-items: start;
    justify-content: space-between;
}

.contactText{
    width: 50%;
}

.contactText h2{
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-size: 4rem;
    text-transform: uppercase;
}

.contactText p{
    font-size: .9rem;
    font-size: 300;
}

.contactText a {
    color: white;
}

.soc ul{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.soc ul li a{
    font-size: 1.4rem;
    color: #D3E97A;
}

.form{
    width: 50%;
    text-transform: capitalize;
}

.input{
    padding-bottom: 1rem;
}

label{
    font-size: .9rem;
}

.inputInnerText{
    width: 25rem;
    background-color: #222222;
    padding-inline: 1rem;
    height: 2rem;
}

.inputInnerText input{
    width: 25rem;
    height: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.input1{
    display: flex;
    flex-direction: column;
}

textarea{
    background-color: #222222;
    padding-inline: 1rem;
    color: white;
    width: 25rem;
    border: none;
    outline: none;
    height: 100px;
}

form>button{
    margin-top: 3rem;
    font-family: "Manrope", serif;
    font-weight: 500;
    background-color: #D3E97A;
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}

footer{
    margin-top: -4rem;
    margin-bottom: 2rem;
}

@media (max-width: 767px){

    .contact{
        width: calc(100% - 30px);
        flex-direction: column;
    }

    .contactText{
        width: auto;
        margin-bottom: 2rem;
    }

    .form{
        width: auto;
        margin-bottom: 3rem;
    }

    .foot{
        width: calc(100% - 30px);
    }

    .inputInnerText{
        width: 23rem;
    }
    
    .inputInnerText input{
        width: 23rem;
    }
    
    textarea{
        width: 23rem;
    }

}