@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: black;
    color: white;
}

.header{
    border-bottom: 1px solid;
}

.genLa{
    max-width: 1200px;
    margin: auto;
}

.toggle{
    display: none;
}

.navItems{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 20px 150px; 
    z-index: 1000;
    max-width: 100%;
}

.navItems span{
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: .7;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
}

.navList>ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    text-transform: capitalize;
    font-family: "Inter", serif;
    font-size: .9rem;
}

.navList ul li a{
    color: white;
    transition: .2s;
}

.navList ul li a:hover{
    color: #7aa7e9;
    font-size: 1rem;
}

.based- a{
   padding: 10px 20px;
    font-size: .9rem;
    background-color: #7aa7e9;
    border-radius: 25px;
    text-transform: uppercase;
    color: black;
    font-family: "Manrope", serif;
    font-weight: 900;
}
.based1 a{
   padding: 10px 20px;
    font-size: .9rem;
    background-color: #7aa7e9;
    border-radius: 25px;
    text-transform: uppercase;
    color: black;
    font-family: "Manrope", serif;
    font-weight: 900;
}
/* dropdown menu */
.toggle_btn{
    display: none;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(54, 60, 145, 0.178);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 150px;
}

.dropdown_menu>li>a{
    font-family: "Manrope", serif;
    color: #fff;
}

.dropdown_menu>li>a:hover{
    color: #09a6ce;
    font-weight: 600;
    font-size: 18px;
}
.dropdown_menu > li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    display: flex;
    align-items: center;
    padding-block: 3rem;
    justify-content: center;
    gap: 9rem;
    padding-top: 7rem;
    margin-bottom: 1rem;
}

.homeText{
    width: 59%;
}

.homeText h1{
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    margin-bottom: 1rem;
}

.homeText p{
    text-transform: capitalize;
    opacity: .8;
    font-size: .8rem;
    font-family: "Manrope", serif;
    margin-bottom: 1rem;
}

.links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.based{
    display: flex;
    padding: 0px 8px;
    align-items: center;
    justify-self: center;
    background-color: #7aa7e9;
    height: 2rem;
    width: 8rem;
    border-radius: 25px;
    text-transform: uppercase;
    color: black;
    font-family: "Manrope", serif;
    font-weight: 900;
}

.based a{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.based a i{
    font-size: .6rem;
    margin-left: .3rem;
}

.socail ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.seek{
    font-size: 25px;
    background-color: #222222;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seek a{
    color: #7aa7e9;
}

.homeImage{
    width: 50%;
}

.homeImage img{
    width: 100%;
    border-radius: 20px;
}

@media(max-width:1024px) {
    .navItems{
        padding: 20px 30px;
    }
    .home{
        padding: 65px 30px;
    }
    .socail ul li{
        font-size: 25px;
    }
}
@media(max-width:800px) {
    .home{
        gap: 3rem;
    }
    .homeText h1{
        font-size: 35px;
    }
    .navItems span{
        font-size: .9rem;
    }
    .seek{
        font-size: 18px;
        background-color: #222222;
        display: flex;
        justify-content: center;
        height: 30px;
        width: 30px;
    }
    .based a{
        padding: 0px 4px;
        font-size: 13px;
    }
    .based a i{
        font-size: .6rem;
    }
    .based- a{
        font-size: .7rem;
     }
     .navList ul li a{
        font-size: 12px;
    }
    .navList ul li a:hover{
        font-size: .9rem;
    }
    
}
@media(max-width:500px) {
    .home{
        flex-direction: column;
        padding-top: 80px;
    }
    .homeText{
        width: 100%;
        text-align: center;
    }
    .homeText h1{
        font-size: 35px;
    }
    .navList{
        display: none;
    }
    .based-{
        display: none;
    }
    .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .links{
        justify-content: center;
    }
    .homeImage{
        display: none;
    }
    .navItems span{
        font-size: .9rem;
    }
    .seek{
        font-size: 18px;
        background-color: #222222;
        display: flex;
        justify-content: center;
        height: 30px;
        width: 30px;
    }
    .based a{
        padding: 0px 4px;
        font-size: 13px;
    }
    .based a i{
        font-size: .6rem;
    }
    .based- a{
        font-size: .7rem;
     }
     .navList ul li a{
        font-size: 12px;
    }
    .navList ul li a:hover{
        font-size: .9rem;
    }
    
}

#work{
    border-bottom: 1px solid;
}

.projects{
    margin-block: 3rem;
    font-family: "Manrope", serif;
}
.app14{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 0.6s ease;
}
.app,.app0,.app1,.app2,.app3,.app4,.app5,.app6,.app7,.app8,.app9,.app10,.app11, .app12, .app13, .app15, .app16, .app17, .app18, .app19, .app20, .app21, .app22 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease, transform 0.6s ease;
}
.show {
    opacity: 1;
    transform: translateY(0);
}

.feature{
    width: 36%;
}

.feature h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: 3rem;
}

.feature p{
    font-size: .8rem;
    font-family: "Manrope", serif;
}

.work{
    display: flex;
    gap: 3rem;
    margin-block: 3rem;
    align-items: center;
    margin-bottom: 5rem;
    justify-content: space-between;
}

.workImg{
    background-color: #222222;
    border-radius: 10px;
}

.workImg img{
    padding: 50px 50px;
    width: 100%;
    height: 20rem;
    border-radius: 10px;
}

.workText{
    width: 45%;
    
}

.workText h1{
    padding-bottom: 1rem;
    font-weight: 600;
}

.workText>p{
    width: 100%;
    font-weight: 300;
}

.one{
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    text-transform: capitalize;
}

.one h2, .one h3{
    font-weight: 500;
}

.link{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    color: #7aa7e9;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .3rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid;
}

.link a i{
    font-size: 1.3rem;
}

@media(max-width:1024px) {

    .projects{
        padding: 10px 30px;
    }
    .workText h1{
        font-size: 21px;
    }
    
    .workText>p{
        font-size: 15px;
    }
    .one h2{
        font-size: 18px;
    }
    .one h3{
        font-size: 17px;
    }
    .one p{
        font-size: 15px;
    }
    .link a{
        font-size: 13px;
    }
    .link a i{
        font-size: 15px;
    }

}
@media(max-width:800px) {
    .feature{
        width: 50%;
    }
    .feature h1{
        font-size: 2rem;
    }
    
    .feature p{
        font-size: .7rem;
    }
    .workText h1{
        font-size: 19px;
    }
    
    .workText>p{
        font-size: 13px;
    }
    .one h2{
        font-size: 15px;
    }
    .one h3{
        font-size: 14px;
    }
    .one p{
        font-size: 14px;
    }
    .link a{
        font-size: 13px;
    }
    .link a i{
        font-size: 15px;
    }
    .workImg{
        background-color: #222222;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    
    .workImg img{
        padding: 40px 0px;
        width: 90%;
        height: 18rem;
        border-radius: 10px;
    }

}
@media(max-width:500px) {
    .feature{
        width: 100%;
        text-align: center;
    }
    .feature h1{
        font-size: 2rem;
    }
    .feature p{
        font-size: .7rem;
    }
    .work{
        flex-direction: column;
    }
    .workText{
        width: 100%;
    }
    .workText h1{
        font-size: 19px;
    }
    
    .workText>p{
        font-size: 13px;
    }
    .one h2{
        font-size: 15px;
    }
    .one h3{
        font-size: 14px;
    }
    .one p{
        font-size: 14px;
    }
    .link a{
        font-size: 13px;
    }
    .link a i{
        font-size: 15px;
    }
    .workImg{
        background-color: #222222;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    
    .workImg img{
        padding: 0px 0px;
        width: 100%;
        height: 11rem;
        border-radius: 10px;
    }

}

#about{
    border-bottom: 1px solid;
}

.about{
    display: flex;
    align-items: start;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: space-between;
}

.about>h1{
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    width: 40%;
    font-size: 5rem;
}

.story{
    font-family: "Manrope", serif;
    width: 50%;
    padding-top: 1rem;
}

.story h2{
    font-weight: 400;
}

.story p{
    margin-block: 2rem;
}

.story a{
    color: #7aa7e9;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    padding-bottom: .1rem;
    border-bottom: 2px solid;
}

.aboutImg{
    display: none;
}

@media (max-width:1024px) {
    .about{
        padding: 10px 30px;
    }
    .about>h1{
        font-size: 60px;
    }
    .story h2{
        font-size: 24px;
    }
    .story p{
        font-size: 16px;
    }
    .story a{
        font-size: 14px;
    }
}
@media (max-width:800px) {
    .about>h1{
        font-size: 50px;
    }
    .story h2{
        font-size: 22px;
    }
    .story p{
        font-size: 15px;
    }
    .story a{
        font-size: 13px;
    }
}
@media (max-width:500px) {
    .about{
        flex-direction: column;
    }
    .about>h1{
        font-size: 2rem;
        width: 100%;
    }
    .story{
        width: 100%;
    }
    .story h2{
        font-size: 16px;
    }
    .story p{
        font-size: 13px;
    }
    .story a{
        font-size: 12px;
    }
    .aboutImg{
        display: block;
        width: 100%;
        margin-top: 2rem;
    }
    .aboutImg img{
        height: 50%;
        width: 100%;
        border-radius: 10px;
    }
}

.contact{
    display: flex;
    font-family: "Manrope", serif;
    margin-block: 4rem;
    align-items: start;
    justify-content: space-between;
}
.contactText{
    width: 50%;
}

.contactText h2{
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-size: 4rem;
    text-transform: uppercase;
}

.contactText p{
    font-size: .9rem;
    font-size: 300;
}

.contactText a {
    color: white;
    text-decoration: underline;
}

.soc ul{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.soc ul li a{
    font-size: 1.6rem;
    color: #7aa7e9;
}

.form{
    width: 50%;
    text-transform: capitalize;
}


.input{
    display: flex;
    flex-direction: column;
    padding: 9px 0px;
}
.input label{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .2rem;
}

.input input{
    background-color: #222222;
    padding: 10px 20px;
    width: 100%;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
}

textarea{
    background-color: #222222;
    padding: 10px 20px;
    color: white;
    width: 100%;
    border: none;
    outline: none;
    height: 100px;
    font-size: 16px;
}

form>button{
    margin-top: 1rem;
    font-family: "Manrope", serif;
    font-weight: 500;
    background-color: #7aa7e9;
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

footer{
    margin-top: -5rem;
    margin-bottom: 2rem;
    font-family: "Manrope", serif;
    font-size: .8rem;
}

@media (max-width: 1024px){
    .contact{
        padding: 10px 30px;
    }
    .contactText h2{
        font-size: 50px;
    }
    .contactText p{
        font-size: 15px;
    } 
    .soc ul li a{
        font-size: 25px;
    }
    .input{
        padding: 5px 0px;
    }
    .input label{
        font-size: .9rem;
        font-weight: 500;
        margin-bottom: .2rem;
    }
    footer{
        padding-left: 15px;
        margin-top: -6rem;
    }
    
}
@media (max-width: 800px){
    .contactText h2{
        font-size: 40px;
    }
    .contactText p{
        font-size: 14px;
    } 
    .soc ul li a{
        font-size: 22px;
    }
    .input label{
        font-size: .8rem;
    }
    footer{
        font-size: 13px;
    }
    
}
@media (max-width: 500px){
    .contact{
        flex-direction: column;
    }
    .contactText{
        width: 100%;
    }
    .form{
        margin-top: 4rem;
        width: 100%;
    }
    .contactText h1{
        font-size: 2rem;
    }
    .contactText p{
        font-size: 14px;
    } 
    .soc ul li a{
        font-size: 22px;
    }
    .input label{
        font-size: .8rem;
    }
    .input input{
        font-size: 14px;
    }
    textarea{
        font-size: 14px;
    }
    footer{
        margin-top: -40px;
        font-size: 13px;
    }
    
}
